
.vs/*
JScience/bin/*
JScience/obj/*
ScienceTest/obj/*
ScienceTest/bin/*
UpgradeLog2.htm
UpgradeLog.htm
ScienceTest/.DS_Store
.DS_Store
/JScy.NET.Math/bin
/JScy.NET.Math/obj
/JScy.NET.Physics/bin
/JScy.NET.Physics/obj
/JScy.NET/bin
/JScy.NET/bin
/JScy.NET/obj
/JScy.NET.Mathmatics/bin
/JScy.NET.Mathmatics/obj
/JScy.NET.Mathmatics/obj
